{% include 'header.html' %}
<div class="col-sm-8">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.ibb.co/bLc0r5k/yamada-Sensei.jpg" alt="Baba and Rapper" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://i.ibb.co/c2P5LVF/sugano-Sensei.jpg" alt="Jiji and Frankie" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="https://i.ibb.co/QFqg52f/waite-Sensei.jpg" alt="Sensei and Baldy" class="d-block w-100">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    <div class="p-3 bg-secondary text-white">
        <h2>私たちの道場へようこそ | Welcome to Our Dojo</h2>
      </div>   
    </div>
</div>
</div>
</div>
{% include 'footer.html' %}